*DS_Store
ios/Podfile.lock
ios/TeamTalk.xcworkspace/xcshareddata
ios/TeamTalk.xcworkspace/xcuserdata
server/src/libsecurity/android/obj

*http_msg_server
*msg_server
*db_proxy_server
*login_server
*push_server
*file_server
*msfs
