win_him_sdk/.vs/
win_him_sdk/bin/Temps_win_him_sdk_Debug/
win_him_sdk/bin/
win_him_sdk/libs/
win-client/solution/teamtalk.sdf
win-client/solution/teamtalk.v12.suo
win-client/solution/.vs/
win-client/3rdParty/src/http/httpclient/httpclient.vcxproj.user
win-client/3rdParty/src/libogg/libogg_dynamic.vcxproj.user
win-client/core/DuiLib/DuiLib.vcxproj.user
win-client/core/network/network.vcxproj.user
win-client/core/utility/utility.vcxproj.user
win-client/src/GifSmiley/GifSmiley2003.vcxproj.user
win-client/src/Modules/Modules.vcxproj.user
win-client/src/teamtalk/teamtalk.vcxproj.user
win-client/obj/
/server/src/db_proxy_server/cmake-build-debug/
/server/src/db_proxy_server/.idea/
/server/src/base/.idea/
/server/src/base/cmake-build-debug/
/server/src/file_server/.idea/
/server/src/file_server/cmake-build-debug/
/server/src/http_msg_server/.idea/
/server/src/http_msg_server/cmake-build-debug/
/server/src/login_server/.idea/
/server/src/login_server/cmake-build-debug/
/server/src/msg_server/.idea/
/server/src/msg_server/cmake-build-debug/
/server/src/msg_server/build/
/server/src/push_server/.idea/
/server/src/push_server/cmake-build-debug/
/server/src/route_server/.idea/
/server/src/route_server/cmake-build-debug/
